.djsBanner {
	width: 100%;
	height: 100vh;
	background: #34BAF6;
	overflow: hidden;
	position: relative;
}
.djsHeader {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
}
.djsLogo {
	width: 152px;
	height: 52px;
	margin: 10px 0 0 210px;
	display: block;
}
.djsNav {
	width: 50%;
	height: 50px;
	margin-right: 40px;
	display: flex;
	justify-content: space-around;
}
.djsNav li {
	height: 50px;
}
.djsNav li .navText {
	height: 40px;
	line-height: 40px;
	color: white;
	font-size: 16px;
}
.djsNav li .djsBorder {
	width: 0;
	height: 3px;
	background: white;
	transition: .3s;
}
.djs-banner {
	width: 609px;
	height: 696px;
	position: absolute;
	left: -50%;
	top: 60px;
	opacity: 0;
	transform: rotate(-180deg);
	transition: 1s;
}
.djs-banner .ball2012 {
	width: 35px;
	height: 18px;
	background: rgba(0,0,0,.3);
	border-radius: 50%;
	position: absolute;
	top: 138px;
	left: 60%;
}
.djs-banner .ball2012 img {
	width: 52px;
	height: 75px;
	position: absolute;
	bottom: 7px;
	left: -8px;
}
.djs-banner .ball2015 {
	width: 35px;
	height: 18px;
	background: rgba(0,0,0,.3);
	border-radius: 50%;
	position: absolute;
	top: 330px;
	left: 26%;
}
.djs-banner .ball2015 img {
	width: 64px;
	height: 94px;
	position: absolute;
	bottom: 7px;
	left: -13px;
}
.djs-banner .ball2017 {
	width: 35px;
	height: 18px;
	background: rgba(0,0,0,.3);
	border-radius: 50%;
	position: absolute;
	top: 420px;
	left: 85%;
}
.djs-banner .ball2017 img {
	width: 65px;
	height: 96px;
	position: absolute;
	bottom: 7px;
	left: -13px;
}
.djs-banner .arrow {
	width: 50px;
	height: 42px;
	position: absolute;
	bottom: 150px;
	left: 46%;
}
.djs-banner .arrow img {
	width: 100%;
	height: 100%;
}
.djsTitle {
	width: 457px;
	height: 245px;
	display: block;
	position: absolute;
	left: 34%;
	top: 70px;
}
.sun {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 20%;
	top: 190px;
}
.yun1 {
	width: 164px;
	height: 73px;
	position: absolute;
	left: 10%;
	top: 255px;
}
.yun2 {
	width: 164px;
	height: 73px;
	position: absolute;
	left: 80%;
	top: 460px;
}
.ball1 {
	width: 58px;
	height: 73px;
	position: absolute;
	left: 15%;
	top: 440px;
}
.ball2 {
	width: 65px;
	height: 101px;
	position: absolute;
	left: 82%;
	top: 340px;
}

.aboutUs-bg {
	width: 100%;
	height: 542px;
	background: url(../images/02.jpg) center center;
}
.aboutUs {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.aboutUs .aboutUs-body {
	width: 500px;
	padding: 60px 50px;
}
.aboutUs-title {
	font-size: 36px;
	color: white;
}
.aboutUs-title span {
	font-size: 16px;
}
.aboutUs .aboutUs-text {
	width: 500px;
	height: 300px;
	overflow-y: scroll;
	margin-top: 20px;
}
.aboutUs .aboutUs-text > p {
	display: block;
	margin-before: 1em;
    margin-after: 1em;
    margin-start: 0px;
    margin-end: 0px;
    text-indent: 30px;
}
.aboutUs .aboutUs-text > p span {
	font-size: 14px;
	line-height: 2;
}
.aboutUs .aboutUs-img {
	width: 594px;
	height: 339px;
	margin-top: 100px;
	margin-right: 20px;
	background: url(../images/08.png) no-repeat;
}
.about {
	width: 100%;
	height: 605px;
	background: #FD5A35;
	position: relative;
}
.about .lou {
	width: 100%;
	height: 212px;
	background: url(../images/03.png) no-repeat center bottom;
	position: absolute;
	bottom: 0;
	left: 0;
}
.about .tree {
	width: 100%;
	height: 302px;
	background: url(../images/21.png) no-repeat center bottom;
	position: absolute;
	bottom: 0;
	left: 0;
}
.yun3 {
	width: 116px;
	height: 64px;
	background: url(../images/19.png) no-repeat;
	position: absolute;
	left: -15px;
	bottom: 200px;
}
.yun4 {
	width: 106px;
	height: 65px;
	background: url(../images/20.png) no-repeat;
	position: absolute;
	right: 70px;
	bottom: 170px;
}
.jianjie {
	width: 326px;
	padding: 30px 0 0 210px;
	color: white;
	line-height: 2;
}
.jianjie > p {
	font-size: 14px;
	display: block;
	margin-before: 1em;
    margin-after: 1em;
    margin-start: 0px;
    margin-end: 0px;
    text-indent: 30px;
}
.jianjie > p span {
	font-size: 14px;
	line-height: 2;
}
.jianjie > .about-title {
	font-size: 16px;
	text-indent: 0;
}
.jianjie > .about-logo {
	padding: 10px 0;
	text-indent: 0;
}
.jianjie > .about-logo img {
	width: 100px;
	height: 38px;
	border: none;
	vertical-align: middle;
}
.wenhua {
	width: 312px;
	padding: 30px 210px 0 0;
	color: white;
}
.wenhua > p {
	display: block;
	margin-before: 1em;
    margin-after: 1em;
    margin-start: 0px;
    margin-end: 0px;
    text-indent: 30px;
}
.wenhua > p span {
	font-size: 14px;
	line-height: 2;
}
.history {
	width: 100%;
	height: 665px;
	padding-top: 55px;
	background: #a6d22d;
    overflow: visible;
    position: relative;
}
.about-history {
	width: 90%;
	margin: 0 auto;
}
.tree2 {
	width: 100%;
	height: 270px;
	background: url(../images/01.png) no-repeat;
	position: absolute;
	left: 0;
	bottom: 0;
}
.history-content {
	width: 772px;
	height: 457px;
	margin: 50px auto 0;
	background: url(../images/07.jpg) no-repeat;
}
